$skinColor: rgb(210, 179, 132);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.men {
  position: relative;
  height: 100vmax;
  width: 100vmax;
  
  .head,
  .body,
  .lefthandle,
  .righthandle,
  .lefthand,
  .righthand,
  .leftfooter,
  .rightfooter,
  .leftfoot,
  .rightfoot {
    display: inline-block;
  }
}

.head,
.lefthand,
.righthand,
.leftfoot,
.rightfoot {
  background-color: $skinColor;
}

.head {
  width: 60px;
  height: 60px;
}

.head,
.lefthand,
.righthand {
  border-radius: 50%;
}

.lefthand,
.righthand {
  width: 30px;
  height: 30px;
}